/* MyComponent.module.css */
@keyframes myAnim {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
  
    100% {
      opacity: 0;
      transform: translateY(-50px);
    }
  }
  
  .myAnimatedElement {
    animation: myAnim 3s ease 0s 1 normal forwards;
  }
  body{

    font-family: 'Times New Roman', Times, serif;
    background : url("./bg-password.png");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
   
  }
